<template>
  <v-app id="app">
    <Header/>
    <v-main class="container">
      <v-container class="pa-1 pa-md-5">  
        <router-view class="pa-0"/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/Header.vue"
  export default {
    components: {
      Header
    },
    async created(){
      this.$store.dispatch('loadPlayers')
      this.$store.dispatch('loadTeams')
      this.$store.dispatch('loadGameweeks')
      this.$store.dispatch('loadGuesses')
      this.$store.dispatch('loadTable')
    }
  }
</script>

<style scoped>
#app{
  background-color: #F5F5F5;
}
</style>