<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        md="6"
      >
        <Questions
          :questions="gquestions"
          :answers="questionsAnswers"
          class="mb-5"
        />
        <TopScorer
          :topScorers="topScorers"
        />
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
      <Table :guesses="tableGuesses" :table="table" :logos="gteams"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Questions from "../components/Guesses/Questions"
import Table from "../components/Guesses/Table"
import TopScorer from "../components/Guesses/TopScorer"

import { mapGetters } from "vuex"

export default {
  components: {
    Questions,
    Table,
    TopScorer,
  },
  computed: {
    ...mapGetters([
      "guesses",
      "gteams",
      "gquestions",
      "table",
      "topScorers"
    ]),
    questionsAnswers() {
      let ret = {}
      for(const person of Object.values(this.guesses)) {
        ret[person.name] = person.questions
      }
      return ret
    },
    tableGuesses() {
      let ret = {}
      for(const p of Object.values(this.guesses)){
        ret[p.name] = p.table
      }
      return ret
    }

  },
}
</script>

<style>

</style>