<template>
  <v-container fluid>
    <v-row>
      <v-col
        cols="12"
        md="8"
      >
        <Match :nextGame="nextGame" :guesses="nextGameGuesses" class="mb-5"/>
        <Scorer :guesses="ScorerGuess"/>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <Table :table="table" :logos="logos" :nextGame="nextGame"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Match from "../components/Next/Match"
import Scorer from "../components/Next/Scorer"
import Table from "../components/Next/Table"

export default {
  components: {
    Match,
    Scorer,
    Table
  },

  computed: {
    table() {
      return this.$store.getters.table
    },
    logos(){
      return Object.values(this.$store.getters.gteams)     
    },
    nextGame(){
      let ret = {home: {}, away: {}, res: ""}

      const gteams = this.$store.getters.gteams
      const gmatches = this.$store.getters.gmatches
      const gameweek =  this.$store.getters.nextGameweek.id

      const game = gmatches[gameweek]
      if(!game) return ret // Guard in early render
      ret.home = gteams[game.HomeTeam]
      ret.away = gteams[game.AwayTeam]
      ret.res = this.nextGameScore(ret.home.name, ret.away.name, gameweek)

      return ret
    },
    nextGameGuesses(){
      const persons = Object.values(this.$store.getters.guesses)
      let ret = {"h": [], "u": [], "b": []}
      for(let person of persons){
        let guess = person.matches[this.$store.getters.nextGameweek.id]
        if(!guess) continue
        ret[guess].push(person.name)
      }
      return ret

    },
    ScorerGuess(){
      const guesses = this.$store.getters.guesses
      const nextGameweekId = this.$store.getters.nextGameweek.id
      let ret = {}
      const persons = Object.values(guesses)
      outer:
      for(let person of persons){
        let guess = person.scorer[nextGameweekId]
        for(let scorer of Object.keys(ret)){
          if(scorer.includes(guess) || guess.includes(scorer)){
            ret[scorer].guessers.push(person.name)
            continue outer
          }
        }
        ret[guess] = {guessers: []}
        ret[guess].guessers.push(person.name)
      }

      for(let pname of Object.keys(ret)){
        const player = this.$store.getters.getPlayerByName(pname)
        ret[pname].player = player
      }

      return ret

    }

  },
  methods: {
    nextGameScore(hometeam, awayTeam, week){
      const gameweek = this.$store.getters.getGameweek(week)
      return gameweek.results.find(game => {
        const otherHomeTeam = this.$store.getters.gteamById(game.home)
        if(otherHomeTeam === undefined) return undefined
        if(this.isSameClub(otherHomeTeam.name, hometeam)) {
          return game
        }
      })
    },
    // Param: livescore clubname, firebase clubname
    // Return: If same club
    isSameClub(clubname, othername){
        const namearr1 = clubname.split(" ")
        const namearr2 = othername.split(" ")

        if(namearr1[0] != namearr2[0]){
            return false
        } else if (namearr1.length > 1 && namearr2.length > 1 ) {
            return namearr1[1] == namearr2[1]
        }
        return true
    },
  }
}
</script>

<style>

</style>