<template>
  <v-card>
    <CardTitle>Spørsmål</CardTitle>
    <v-tabs
        dark
        background-color="green lighten-2"
        show-arrows
    >
        <v-tab
        v-for="(question, i) in questions"
        :key="i"
        >
        {{ question.short }}
        </v-tab>
        <v-tab-item
        v-for="(question, i) in questions"
        :key="i">
            <h3 class="pa-4">
                {{ question.text }}
            </h3>
            <div class="d-flex flex-wrap justify-space-around">
                <v-card
                    v-for="(persons, ans) in questionAnswers(i)"
                    :key="ans"
                    min-width="9rem"
                    max-width="12rem"
                    class="d-flex flex-column pa-3 ma-3"
                    :color="answerColor(question, ans)"
                >
                    <h4 class="pa-2">{{ ans }}</h4>
                    <v-chip-group column class="mt-auto">
                        <Chip
                        v-for="p in persons"
                        :key="p"
                        >
                        {{ p }}
                        </Chip>
                    </v-chip-group>
                </v-card>
            </div>
        </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import CardTitle from "../Mini/CardTitle"
import Chip from "../Mini/Chip"

export default {
    components: {
        CardTitle,
        Chip,
    },
    props: {
        answers: Object,
        questions: Object,
    },
    methods: {
        questionAnswers(qid) {
            let ret = {}
            
            outer:
            for(let [name, ans] of Object.entries(this.answers)){
                const curr = ans[qid]
                for(let prev of Object.keys(ret)){
                if(curr.includes(prev) || prev.includes(curr)){
                    ret[prev].push(name)
                    continue outer
                }
                }
                ret[curr] = [name]
            }
            return ret
        },
        answerColor(question, ans){
            if(question.ans.includes(ans)) {
                return "green lighten-2"
            } else if (question.incorrect.includes(ans)) {
                 return "red lighten-2"
            } else {
                return "grey lighten-4"
            }
        }
    },
}
</script>

<style>

</style>