<template>
  <v-card>
      <CardTitle>Tabell</CardTitle>
      <v-tabs 
        dark
        background-color="green lighten-2 white--text"
        centered
        show-arrows
        optional
      >
        <v-tab
          v-for="(guess, name) in guesses"
          :key="name"
          @click="person = name"
        >
          {{ name }}
        </v-tab>
      </v-tabs>
      <v-simple-table class="pa-2">
        <thead class="pb-2">
          <th>Pos.</th>
          
          <th v-if="!person.length">Klubb</th>
          <th v-else>Faktisk</th>

          <th v-if="person.length">Gjetta</th>
        </thead>
        <tbody class="text-center">
          <tr
            v-for="team in table"
            :key="team.placement"
          >
            <td>{{team.placement}}</td>
            <td>
              <img
                :src="imageSrc(team.name) + '&h=40&w=40'"
                align="center"  
              >
            </td>
            <td v-if="person.length">
              <img
                :src="guessedTeamImgSrc(team.placement) + '&h=40&w=40'" 
                :class="checkCorrectness(team.placement)"
                class="pa-1 rounded-circle"
                align="center"
              >
            </td>
          </tr>
          <tr v-if="person.length" class="grey lighten-4">
            <td><b>Førebels poeng:</b></td>
            <td></td>
            <td><b>{{ totalCorrectnessPoints }}</b></td>
          </tr>
        </tbody>
      </v-simple-table>
  </v-card>
</template>

<script>
import CardTitle from "../Mini/CardTitle"

export default {
  components: {
    CardTitle,
  },
  props: {
    guesses: Object,
    table: Array,
    logos: Object,
  },
  data() {
    return {
      /**
       * Person selected in the tab
       */
      person: ""
    }
  },
  computed: {
    /**
     * Return the point total of the correctness of the whole table
     * of the selected person.
     */
    totalCorrectnessPoints() {
      if(!this.person.length) return ""

      const personGuesses = this.guesses[this.person]
      let points = 0

      const teams = Object.values(this.table)

      personGuesses.forEach((guess, i) => {
        const guessedTeam = this.logos[guess]

        const teamFromTable = teams.find(club => this.isSameClub(guessedTeam.name, club.name))
        points += this.correctnessPoints(i, teamFromTable.placement)
      })

      return points
    },
  },
  methods: {
    // Param: livescore clubname
    // Return: logo url of team
    imageSrc(clubname){
        const teams = Object.values(this.logos)
        const filtered = teams.filter(club => this.isSameClub(clubname, club.name))
        if(!filtered[0]) return "" // Guard in early render
        return filtered[0].logo
    
    },
    // Param: the placement of the team the person guessed
    // Return: logo of the team the person guessed in that place
    guessedTeamImgSrc(place){
      const teamId = this.guesses[this.person][place]
      return this.logos[teamId].logo
    },
    // Param: livescore clubname, firebase clubname
    // Return: If same club
    isSameClub(clubname, othername){
        const namearr1 = clubname.split(" ")
        const namearr2 = othername.split(" ")

        if(namearr1[0] != namearr2[0]){
            return false
        } else if (namearr1.length > 1 && namearr2.length > 1 ) {
            return namearr1[1] == namearr2[1]
        }
        return true
    },
    /**
     * Param: Placement
     * Return: Color based on correctness of the guessed team
     * compared to the current table.
     */
    checkCorrectness(placement) {
      const guessesedTeamId = this.guesses[this.person][placement]
      const guessedTeam = this.logos[guessesedTeamId]

      const teams = Object.values(this.table)
      const teamFromTable = teams.find(club => this.isSameClub(guessedTeam.name, club.name))

      const correctnessPoints = this.correctnessPoints(placement, teamFromTable.placement)

      return correctnessPoints ===  3 ? "green lighten-2" : correctnessPoints === 1 ? "yellow lighten-2" : "red lighten-2"

    },
    /**
     * Params: Two table placements
     * Return: Correctness points
     */
    correctnessPoints(p1 ,p2) {
      // Correct guess
      if(p1 === p2) {
        return 3
      } 
        // Guessed correct placemnet group or not
        else if(p1 < 5){
        return p2 < 5 ? 1 : 0 
      } else if (p1 < 11) {
        return p2 < 11 && p2 >= 5 ? 1 : 0 
      } else if (p1 < 18) {
        return p2 < 18 && p2 >= 11 ? 1 : 0
      } else {
        return p2 >= 18 ? 1 : 0
      }
    },
  }
}
</script>

<style>

</style>