<template>
  <v-card>
    <CardTitle>Toppscorer</CardTitle>
      <v-row>
        <v-col
          cols="12"
          md="4"
          align="center"
        >
          <v-card class="mx-2">
            <img :src="imageSrc(topScorers[0].photo)">
          </v-card>
        </v-col>
        <v-col
           class="align-self-center"
        >
          <v-simple-table>
            <tbody> 
              <tr
                v-for="(scorer, i) in topScorers"
                :key="scorer.id"
              >
                <td>
                  <b>{{ i + 1 }}</b>
                </td>
                <td>
                  {{ scorer.name }}
                </td>
                <td class="hidden-sm-and-down">
                  <b>
                    {{ scorer.position === 4 ? "ANG" : scorer.position == 3 ? "MID" : "FOR" }}
                  </b>
                </td>
                <td>
                  {{ scorer.scored }}
                  <v-icon>mdi-soccer</v-icon>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-col>
      
  </v-row>
  </v-card>
</template>

<script>
import CardTitle from "../Mini/CardTitle"

export default {
    components: {
        CardTitle
    },
    props: {
        topScorers: Array,
    },
    computed: {
        baseSrc() {
            return this.$store.getters.getBaseSrc
        },
    },
    methods: {
        // convert from spcified jpg to png src
        imageSrc(jpg){
        jpg = jpg.replace("jpg", "png")
        return this.baseSrc + "p" + jpg
        },
    },
}
</script>

<style>

</style>