<template>
  <v-card>
      <CardTitle>Match</CardTitle>
      <div class="d-flex justify-space-around my-8">
        <img :src="nextGame.home.logo">
        <b v-if="nextGame.res.homeScore != null" class="align-self-center">{{ nextGame.res.homeScore }}</b>
        <b class="align-self-center">-</b>
        <b v-if="nextGame.res.awayScore != null" class="align-self-center">{{ nextGame.res.awayScore }}</b>
        <img :src="nextGame.away.logo" alt="">
      </div>
      <v-divider></v-divider>
      <v-row class="text-center">
        <v-col>
          <h4 class="text-uppercase pb-2">H</h4>
          <v-chip-group column>
            <Chip v-for="name in guesses.h" :key="name" class="ma-1 pa-2 pa-md-3">
              {{ name }}
            </Chip>
          </v-chip-group>
        </v-col>
        <v-divider vertical></v-divider>
        <v-col>
          <h4 class="text-uppercase pb-2">U</h4>
          <v-chip-group column class="px-3">
            <Chip v-for="name in guesses.u" :key="name" class="ma-1 pa-2 pa-md-3">
              {{ name }}
            </Chip>
          </v-chip-group>
        </v-col>
        <v-divider vertical></v-divider>
        <v-col>
          <h4 class="text-uppercase pb-2">B</h4>
          <v-chip-group column class="px-3">
            <Chip v-for="name in guesses.b" :key="name" class="ma-1 pa-2 pa-md-3">
              {{ name }}
            </Chip>
          </v-chip-group>
        </v-col>
      </v-row>
  </v-card>
</template>

<script>
import CardTitle from "../Mini/CardTitle"
import Chip from "../Mini/Chip"

export default {
  components: {
    CardTitle,
    Chip,
  },
  props: {
    guesses: Object,
    nextGame: Object
  }
}
</script>

<style scoped>
  img {
    max-width: 10em;
  }
</style>