<template>
  <v-card>
      <CardTitle>Målscorer</CardTitle>
      <div class="d-flex flex-wrap justify-space-around pt-4">
        <v-card 
        v-for="(guess, name) in guesses"
        :key="name" 
        class="pa-1 pa-md-3 mb-4 grey lighten-4 d-flex flex-column"
        min-height="20rem"
        width="9rem"
        >
          <v-img
            v-if="guess.player"
            :src="imageSrc(guess.player.photo)"
            class="align-self-center"
            max-height="11rem"
          ></v-img>
          <h4 class="pa-2">{{ name }}</h4>
        
          <v-chip-group column class="mt-auto">

            <Chip
              v-for="guesser in guess.guessers"
              :key="guesser"
            >
              {{ guesser }}
            </Chip>
          </v-chip-group>
        </v-card>
      </div>
  </v-card>
</template>

<script>
import Chip from "../Mini/Chip"
import CardTitle from "../Mini/CardTitle"

export default {
  components: {
    Chip,
    CardTitle
  },
  props: {
    guesses: Object
  },
  computed: {
    baseSrc() {
      return this.$store.getters.getBaseSrc
    }
  },
  methods: {
    // convert from spcified jpg to png src
    imageSrc(jpg){
      jpg = jpg.replace("jpg", "png")
      return this.baseSrc + "p" + jpg
    }
  }
}
</script>

<style>

</style>