<template>
  <v-card>
      <CardTitle>Tabell</CardTitle>
      <v-simple-table>
        <template v-slot:default>
        <thead>
            <tr>
            <th>
                Pos.
            </th>
            <th></th>
            <th>
                Club
            </th>
            <th>
                G/D
            </th>
            <th>
                Points
            </th>
            </tr>
        </thead>
        <tbody>
            <tr
            v-for="team in table"
            :key="team.name"
            :class="playsThisWeek(team.name) ? 'amber darken-2 white--text' : ''"
            >
            <td>{{ team.placement }}</td>
            <td><img :src="imageSrc(team.name) + '&h=40&w=40'"></td>
            <td>
                {{ team.name }}
            </td>
            <td :class="team.goalDifference >= 0 ? 'green--text' : 'red--text'">
                {{ team.goalDifference }}
            </td>
            <td>{{ team.points }}</td>
            </tr>
        </tbody>
        </template>
    </v-simple-table>
  </v-card>
</template>

<script>
import CardTitle from "../Mini/CardTitle"

export default {
    components: {
        CardTitle,
    },
    props: {
        table: Array,
        logos: Array,
        nextGame: Object,
    },
    methods: {
        // Param: livescore clubname
        // Return: logo url of team
        imageSrc(clubname){
            const teams = this.logos
            const filtered = teams.filter(club => this.isSameClub(clubname, club.name))
            if(!filtered[0]) return "" // Guard in early render
            return filtered[0].logo
        
        },
        // Param: livescore clubname, firebase clubname
        // Return: If same club
        isSameClub(clubname, othername){
            const namearr1 = clubname.split(" ")
            const namearr2 = othername.split(" ")

            if(namearr1[0] != namearr2[0]){
                return false
            } else if (namearr1.length > 1 && namearr2.length > 1 ) {
                return namearr1[1] == namearr2[1]
            }
            return true
        },
        playsThisWeek(clubname){
            const nextGame = this.nextGame
            if(!nextGame.home.name) return false
            return this.isSameClub(clubname, nextGame.home.name)
                || this.isSameClub(clubname, nextGame.away.name)
        }
    }
}
</script>

<style>

</style>