<template>
<nav>
  <v-navigation-drawer
        v-model="drawer"
        class="green darken-1 white--text"
        dark
        app
    >
      <v-img src="../../public/logo_transparent.png"></v-img>
      <v-list>
      <v-list-item-group
        v-model="model"
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          @click="routeTo(item.route)"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>

    </v-navigation-drawer>

    <v-app-bar dark app flat class="green lighten-1">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title class="text-uppercase">
          <span>Bet</span>
          <span class="font-weight-light">nzer</span>
      </v-toolbar-title>
    </v-app-bar>
</nav>
</template>

<script>
export default {
    data: () => (
        { 
            drawer: false,
            model: 1,
            items: [
                {text: "Kommende", icon: "mdi-alert-circle-outline", route: "/"},
                {text: "Tipp", icon: "mdi-head-question-outline", route: "/guesses"},
                {text: "Rangering", icon: "mdi-medal-outline", route: "/rank"}
            ]
        }
    ),
    methods: {
        routeTo(route) {
            this.$router.push(route)
        }
    }
}
</script>

<style>

</style>